@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Noto Sans KR", "Noto Sans", sans-serif;
  background-color: #F5F5F5;
  color: #2C3E50;
}

.container {
  margin-bottom: 30px;
}

.topBtn {
  display: flex;
  align-items: center;
  margin: 10px;
  height: 25px;
}

#searchInput {
  height: 34px;
  margin-right: 10px;
}

#submitBtn {
  height: 34px;
}

#searchBtn {
  margin: 0 20px;
}

h1{
  font-size: 50px;
  font-weight: 800;
}

.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.head-line svg {
  width: 430px;
}

.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  border-top: 2px solid #ebebeb;
  border-bottom: 4px double #2C3E50;
}

.menus button {
  border: none;
  background: none;
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: #2C3E50;
  transition: all 0.3s ease;
  cursor: pointer;
}

.menus button:hover {
  background-color: #2C3E50; /* 밝은 배경색 */
  color: #ffffff; /* 텍스트 색상 */
  transform: scale(1.1); /* 버튼 크기 확대 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  border-radius: 10px; /* 둥근 모서리 */
}

.menus button:focus {
  outline: none;
  background-color: #ffeeba; /* 포커스 상태 배경색 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 포커스 상태 그림자 효과 */
  border-radius: 10px; /* 둥근 모서리 */
}

img {
  max-width: 100%;
  max-height: 350px;
}

.news {
  border-bottom: 2px solid #2C3E50;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  opacity: .8;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.closeBtn {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  background-color: #111;
  border: 0 solid #111;
  display: block;
  transition: 0.3s;
  position: relative;
  top: -30px;
  left: 180px;
  font-weight: 600;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closeBtn:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.row {
  padding: 10px;
}

.col-lg-4 img{
  width: 300px;
}

.noImg {
  width: 300px;
}

.upToScroll {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 25px;
  font-size: 18px;
  color: #fff;
  background-color: #d3d3d3;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.upToScroll:hover {
  color: #ffffff;
  background-color: #a9a9a9;
  transform: scale(1.1);
}

.upToScroll:active {
  color: #ffffff;
  background-color: #808080;
  transform: scale(0.95);
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.search-btn {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

#navBtn {
  cursor: pointer;
}

#searchBtn {
  cursor: pointer;
}

#main {
  cursor: pointer;
}

.search-btn:hover {
  background-color: #ddd;
}

.hidden {
  display: none;
}

/* Responsive Styles */
@media screen and (max-width: 1190px) {
  .head-line {
    border-bottom: 2px solid #ebebeb;
  }

  h1 {
    font-size: 40px;
  }

  .menus {
    flex-wrap: wrap;
  }

  .menus button {
    margin: 2px;
  }

  .col-lg-4 img {
    width: 100%;
    max-height: 200px;
  }

  .upToScroll {
    font-size: 16px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 768px) {


  .head-line {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 30px;
  }

  .upToScroll {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 25px;
  }

  .menus {
    display: none;
  }

  .sidenav a {
    font-size: 18px;
  }

  .sidenav {
    padding-top: 30px;
  }

  .col-lg-4 img {
    max-height: 150px;
  }

  .upToScroll {
    font-size: 12px;
    padding: 5px 10px;
  }
}
